<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    Sidenav content
    <div style="margin-bottom: 10px;outline:none;cursor: pointer;" routerLink="module-1">Module 1</div>
<div style="margin-bottom: 10px;outline:none;cursor: pointer;" routerLink="module-2">Module 2</div>
<div style="margin-bottom: 10px;outline:none;cursor: pointer;" routerLink="module-3">Module 3</div>
<div style="margin-bottom: 10px;outline:none;cursor: pointer;" routerLink="module-4">Module 4</div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
    
    <div style="margin-bottom: 10px;outline:none;cursor: pointer;" routerLink="module-5">Module 5</div>
    <div style="margin-bottom: 10px;outline:none;cursor: pointer;" routerLink="module-6">Module 6</div>
    <div style="margin-bottom: 10px;outline:none;cursor: pointer;" routerLink="module-7">Module 7</div>
    <div style="margin-bottom: 10px;outline:none;cursor: pointer;" routerLink="module-8">Module 8</div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

